In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [5]:
l = ['yaser','cactus','eaten cact']
s = pd.Series(l, index=[1,2,3])
s

1         yaser
2        cactus
3    eaten cact
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [7]:
s.index = [11,12,13]
s

11         yaser
12        cactus
13    eaten cact
dtype: object

## Q3: Retrieve First and second elements.

In [27]:
#s.iloc[0:2]
s.loc[11:12]

11     yaser
12    cactus
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [44]:
s2 = pd.Series({10:'cactus'})
s = pd.concat([s,s2])
s

11         yaser
12        cactus
13    eaten cact
10        cactus
10        cactus
10        cactus
10        cactus
dtype: object

In [49]:
s = s.drop_duplicates()

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [52]:
Students = {'ID' : [], 'Name' : []}
Students_df = pd.DataFrame(Students, columns=['i','ID','Name'])
Students_df

Empty DataFrame
Columns: [i, ID, Name]
Index: []

## Q6: Read educ_figdp_1_Data.csv file

In [54]:
filee = pd.read_csv('educ_figdp_1_Data.csv')

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [56]:
s.loc[11:12]

11     yaser
12    cactus
dtype: object

In [55]:
s[0:]

C:\Users\ysyss\AppData\Local\Temp\ipykernel_2516\1330850836.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s[0:]

11         yaser
12        cactus
13    eaten cact
dtype: object